@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: rgb(38, 70, 83);
    padding: 50px;
}
.navbar{
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
    margin-left: 450px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin-top: 10px;
}
.banner-container1{
    width: 80%;
    margin: 0 auto;
    
}
.banner-container{
    display: flex;
    width: 100%;
    gap: 90px;
}
.banner-content{
    width: 60%;
margin-top: 80px;
}
.banner-img{
    width: 50%;
    
}
.banner-content p{
    color: rgb(206, 203, 203);
font-family: "Poppins";
font-size: 0.8rem;
font-weight: 300;
}
.banner-content h1{
    color: rgb(255, 255, 255);
font-family: "Poppins";
font-size: 2.5rem;
font-weight: 600;
margin-bottom: 10px;
}
.btn{
border-radius: 5px;
border: none;
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 1rem;
font-weight: 500;
padding: 10px 24px 10px 24px;
background: rgb(231, 111, 81);
}
.btn2{
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 24px 10px 24px;
    background: rgb(231, 111, 81);
    margin-top: 35px;
    }